---
---

p.para{
  color: #3d3d29;
  font-family: 'Fresca', sans-serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 3px;
}

div.gif{
  margin-left:25%;
  margin-right:25%;
  margin-top:5%;
  margin-bottom: 3%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
}
div.one{
  height: 300px;
  font-family: 'Rock Salt', cursive;
  font-size: 24px;
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
  margin-bottom: 3%;

}

div.school
{
  height: 400px;
  margin-left:20%;
  margin-right:20%;
  font-family: 'Rock Salt', cursive;
  font-size: 24px;
  margin-left:15%;
  margin-right:15%;
  margin-top:5%;
  margin-bottom: 3%;
  background: #fff;
  //border-radius: 2px;
  border-radius: 20px;
  //box-shadow: 5px 5px 10px grey;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  //border-radius: 10px;
  //box-shadow: 5px 5px 10px grey;
   //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


div.pic_holder {
  margin-left: 7%;
  margin-top:5%;
  margin-bottom:5%;
  display:inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
 }

 .floated_img
 {
     float: left;
 }

.pics {
  height: 200px;
  width: 400px;
  align : "middle";
  border-radius: 25px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.pics:hover {
  height: 200px;
  width: 400px;
  align: "middle";
   border-radius: 25px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  filter: none;
  cursor: pointer;
}


.painting {
  margin-top:2%;
  margin-left: 4%;
  height: 400px;
  width: 300px;
  align : "middle";
  border-radius: 25px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.painting:hover {
  margin-top:2%;
  margin-left: 4%;
  height: 400px;
  width: 300px;
  align: "middle";
   border-radius: 25px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  filter: none;
  cursor: pointer;
}

.logo{
    border-radius: 25px;
}

h2.schoolname
{
    font-family: 'Rock Salt', cursive;
    color: #3366cc;
    font-size:24px;

}

h2.title
{
  font-family: 'Rock Salt', cursive;
  color: #3366cc;
  display: flex;
    justify-content: center;
    align-items: center;
}

h3.degree
{
font-family: 'Rock Salt', cursive;
color: #3366cc;
font-size:21px;
}

h3.location
{
  color: #3366cc;
  font-size:19px;
}

@import "{{ site.theme }}";
