---
---

p.para{
  font-family: 'Fresca', sans-serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 3px;
}

div.one{
  font-family: 'Courgette', cursive;
  margin-left:20%;
  margin-right:20%;
  margin-top:50px;
  margin-bottom: 200px;
  border-radius: 10px;
  //box-shadow: 5px 5px 10px grey;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.pic_holder {
    margin-left: 20px;
   display:inline-block;
 }

 .floated_img
 {
     float: left;
 }

.pics {

  height: 200px;
  width: 400px;
  align : "middle";
  border-radius: 25px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.pics:hover {
  margin-left: 20px;
  height: 200px;
  width: 400px;
  align: "middle";
   border-radius: 25px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  filter: none;
  cursor: pointer;
}


@import "{{ site.theme }}";
