<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>jalla_bulla_jangs</title>
  </head>

  <body>
    <header>
      <div class="inner">
          <h1>Srividhya Chandrasekharan</h1>
        <h2>-Lost in a random forest</h2>

          <a href="https://www.linkedin.com/in/csri94/" target="_self" align="middle">
    <img src="/assets/images/linked_logo.png" height="90" alt="LinkedIn logo" align="middle"/>

</a>
<a href="https://www.quora.com/profile/Srividhya-1" target="_self" align="middle">
<img src="/assets/images/Quora-Icon.png" width="155" height="90" alt="quora logo" align="middle"/>

</a>
<a href="https://github.com/csrividhya" target="_self" align="middle">
<img src="/assets/images/git.png" width="120" height="100" alt="git logo" align="middle"/>
</a>

<a href="mailto:srividhyachandrasekharan@gmail.com">
  <img src="/assets/images/email.png" width="100" height="90" alt="email logo" align="middle"/>
</a>

<a href="/assets/resume/sri.pdf" download="SrividhyaChandrasekharan_Resume">
    <img src="/assets/images/resume.png" width="80" height="80" alt="email logo" align="middle"/>
</a>

      </div>

    </header>
<!--
    <div class="floated_img">
    <img class="pics" src="/assets/images/photos/brooklyn_bridge.jpg"  onclick="window.open(this.src)"/>
    <p>yolo1</p>
</div>
<div class="floated_img">
  <img class="pics" src="/assets/images/photos/skyline.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>

<div class="floated_img">
  <img class="pics" src="/assets/images/photos/gorge.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>

<div class="floated_img">
<img class="pics" src="/assets/images/photos/elkins.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>
-->
<div class="one">
<img src="/assets/images/sri.jpg" height="300" width="270"  align="right" />
<h2 style="color:#33adff">ABOUT ME!</h2>
<p class="para">I am a Computer Science Master's student at The Ohio State University. I'll be graduating in May'2018. Currently, I live in Columbus, OH, USA. I've been learning and doing Computer Science since 2011. I got my Bachelors in Computer Science from Anna University, India in May 2016.</p>
</div>

<div class="osu">
<img src="/assets/images/osu.png" height="300" width="270"  align="left" />
<p class="para">lorem ipsum!!</p>
</div>

<div class = "pic_holder ">
<img class="pics" src="/assets/images/photos/brooklyn_bridge.jpg"  onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/gorge.jpg" onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/skyline.jpg" onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/elkins.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/woman.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/r2d2.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/yoda.jpg"onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/dreamcatcher.jpg"  onclick="window.open(this.src)"/>
</div>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102175032-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
