<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="icon" href="/assets/images/me.png">
    <title>I'm Srividhya</title>
  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=736380803177131";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header>
      <div class="inner">
          <h1>Srividhya Chandrasekharan</h1>
        <h2>-Lost in a random forest</h2>

          <a href="https://www.linkedin.com/in/csri94/" target="_self" align="middle">
    <img src="/assets/images/linked_logo.png" height="90" alt="LinkedIn logo" align="middle"/>

</a>
<a href="https://www.quora.com/profile/Srividhya-1" target="_self" align="middle">
<img src="/assets/images/Quora-Icon.png" width="155" height="90" alt="quora logo" align="middle"/>

</a>
<a href="https://github.com/csrividhya" target="_self" align="middle">
<img src="/assets/images/git.png" width="120" height="100" alt="git logo" align="middle"/>
</a>

<a href="mailto:srividhyachandrasekharan@gmail.com">
  <img src="/assets/images/email.png" width="100" height="90" alt="email logo" align="middle"/>
</a>

<a href="/assets/resume/sri.pdf" download="SrividhyaChandrasekharan_Resume">
    <img class="logo" src="/assets/images/resume.png"  height="90" alt="resume logo" align="middle"/>
</a>

      </div>

    </header>
<!--
    <div class="floated_img">
    <img class="pics" src="/assets/images/photos/brooklyn_bridge.jpg"  onclick="window.open(this.src)"/>
    <p>yolo1</p>
</div>
<div class="floated_img">
  <img class="pics" src="/assets/images/photos/skyline.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>

<div class="floated_img">
  <img class="pics" src="/assets/images/photos/gorge.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>

<div class="floated_img">
<img class="pics" src="/assets/images/photos/elkins.jpg" onclick="window.open(this.src)"/>
    <p>yolo2</p>
</div>
-->
<div class="one">
<img src="/assets/images/sri.jpg" height="300" width="270"  align="right" />
<h2 class="schoolname">ABOUT ME</h2>
<h3 class="degree">Aspiring Software Developer|Data Scientist.</h3>
<p class="para">I am an aspiring software developer with interest in data science, artificial intelligence and software architecture. I love learning, teaching, and solving problems. Originally from Chennai, India, I am currently living in Columbus, Ohio pursing Master of Science from The Ohio State University in Computer Science and Engineering. I will be graduating in May 2018. Feel free to contact me directly at srividhyachandrasekharan@gmail.com.</p>
</div>


<div class="school">
<img class="logo" src="/assets/images/osu.png" height="250" width="220"  align="left" style="display:table-cell; vertical-align: middle"/>
<h2 class="schoolname" align="right">THE OHIO STATE UNIVERSITY</h2>
<h3 class="degree" align="right">Master of Science in Computer Science, since Aug 2016</h3>
<h3 class="location" align="right">Columbus, Ohio</h3>
<p class="para">Joining OSU was one of the best decisions that my parents and I took. It gave me the experience of living in a different continent away from home, a feel of the US education system and the opportunity to attend lectures given by some of the best minds in the world.
I’m done with two semesters at OSU and it’s been an incredible value addition to me. My learning curve is still peaking up. I spent the first semester trying to work on my core CS skills and also forayed into an industrial venture through a Capstone project. I dedicated second semester entirely to learn Data Science, so I took Machine Learning, Data Mining and Data Visualization. I enjoyed second semester more than the first because I found it more challenging and ended up doing three final projects for the courses!</p>
</div>

<div class="school">
<img class="logo" src="/assets/images/osu.png" height="250" width="220"  align="right" style="display:table-cell; vertical-align: middle"/>
<h2 class="schoolname" align="left">GRADUATE TEACHING ASSOCIATE</h2>
<h3 class="degree" align="left">CSE 1222 : Introduction to Computer Programming in C++, Jan-May 2017</h3>
<h3 class="location" align="left">Dreese Laboratory, OSU</h3>
<p class="para">I taught C++ to a class of 40 undergraduate students. Apart from giving lectures, I administered exams, lab sessions, evaluated their exam answers, homework, lab and quiz submissions. I maintained weekly office hours and problem-solving sessions. </p>
</div>

<div class="school">
<img class="logo" src="/assets/images/ssn.png" height="230" width="240"  align="left" style="display:table-cell;vertical-align: middle"/>
<h2 class="schoolname" align="right" >ANNA UNIVERSITY</h2>
<h3 class="degree" align="right">B.E in Computer Science and Engineering, earned May 2016</h3>
<h3 class="location" align="right">Tamil Nadu, India</h3>
<p class="para">Four years of undergraduate studies at SSN strengthened my grasp over the fundamentals of Computer Science. I forayed into a depth of CS topics that piked my curiosity. Data Structures and Algorithms, Data Base Management System, Computer Architecture and Object Oriented Programming were some of my favorite courses. I got major hands on experience as an engineer through a funded project and my undergraduate thesis.
SSN is the place where I realized what I love to do and gifted me with opportunities to learn and grow as an adult.
</p>
</div>

<div class="gif">
  <h2 class="title">ANDROIDIFIED VERSIONS OF ME MYSELF AND I</h3>
  <img src="/assets/images/me.gif" />
  <img src="/assets/images/me2.gif"/>
</div>

<div class = "pic_holder ">
<h2 class="title">MY CANVAS - PHOTOGRAPHS AND ACRYLLIC PAINTINGS!</h3>
<img class="pics" src="/assets/images/photos/brooklyn_bridge.jpg"  onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/gorge.jpg" onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/skyline.jpg" onclick="window.open(this.src)"/>
<img class="pics" src="/assets/images/photos/elkins.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/woman.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/r2d2.jpg" onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/yoda.jpg"onclick="window.open(this.src)"/>
<img class="painting" src="/assets/images/photos/dreamcatcher.jpg"  onclick="window.open(this.src)"/>
</div>

<div>
<div class="fb-share-button" data-href="https://csrividhya.github.io/" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcsrividhya.github.io%2F&amp;src=sdkpreparse">Share</a></div>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="https://csrividhya.github.io/"></script>
</div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102175032-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
